body{
    font-family: 'Times New Roman', Times, serif;
    background: #e4dede;
  }
  h1 {
    color: rgb(24, 4, 85);
    text-shadow: 2px 3px 4px rgba(51, 48, 48, 0.7); 
  }
  h4{
    color: rgb(14, 13, 15);
    text-shadow: 2px 3px 4px rgb(99, 127, 131); 
  }
  
  /* img {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  } */
  
  img:hover{
    border-radius:50%;
    transition:all .2s ease-in-out;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transition:all .5s ease-in-out;
    -webkit-transform:scale(0.7);transform:scale(0.7);
  } 
    
  p{
    color: rgb(16, 16, 17);
  }
  .p_footer{
    color: rgb(133, 109, 109);
  }
  